@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --background-color: #eee;
    --border-color: #ddd;
    --font-color: #444;
    --content-font: 'Abel', sans-sarif
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
    background-color: var(--background-color);
    margin: 0;
    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-areas:
        "header"
        "main"
}

.main-header {
    position: fixed;
    grid-area: header;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border-bottom: 4px solid var(--border-color);
}

.menu-burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 2.5rem;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}


.name {
    font-size: 1.8rem;
}

small {
    font-size: 0.5rem;
    display: block;
    text-align: right;
    margin: 0;
}

.mobile-nav {
    position: fixed;
    background-color: var(--background-color);
    width: 80vw;
    height: 100vh;
    margin: 0;
    top: 5rem;
    left: 0;
    transition: 0.5s ease-in;
}

.toggle-mobile-nav {
    transform: translateX(-80vw);
}


.mobile-nav-closeCHANGE {
    content: 'e5cd';
    font-family: 'Material Icons';
    position: absolute;
    font-size: 2.5rem;
    top: 0;
    left: 0;
    z-index: 2;
}

.arrow-down {
    content: 'ead0';
    font-family: 'Material Icons';
}

#arrows {
    margin: 1rem;
    display: block;
    text-align: center;
}

.mobile-nav__items {
    background-color: var(--background-color);
    width: 100%;
    position: absolute;
    left: 0px;
}

.mobile-nav__items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav__item {
    background-color: var(--background-color);
    color: var(--font-color);
    text-decoration: none;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid var(--border-color)
}

main {
    grid-area: main;

}

.main-container {
    /* display: flex; */
    flex-direction: column;
    font-family: var(--content-font);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--content-font);
    border-bottom: 2px solid var(--border-color);
}

.content-headline {
    margin: 0;
    padding: 2rem 2rem 0 2rem;
}

.content-headline__even {
    text-align: right;
    margin: 0;
    padding: 2rem 2rem 0 2rem;
}

.content-text {
    text-align: right;
    padding: 2rem;
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
    margin-top: 0;
}

.content-text__even {
    text-align: left;
}

.highlighted {
    opacity: 0.7;
}

.about-me__image {
    background: url("images/Dave.jpg") no-repeat;
    background-size: 100%;
    background-position: 0 -50px;
    width: 100vw;
    height: 25vh;
    border-bottom: 2px solid var(--border-color)
}

.main-container img {
    width: 100%;
}