@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --background-color: #eee;
    --border-color: #ddd;
    --font-color: #444;
    --content-font: 'Abel', sans-sarif
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
    display: grid;
    background-color: var(--background-color);
    margin: 0;
    grid-template-rows: 5rem auto;
    grid-template-areas: "header"
        "main"
}

a {
    text-decoration: none;
}

.highlighted {
    color: rgba(211, 118, 32, 0.699);
}

.main-header {
    position: fixed;
    grid-area: header;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    z-index: 5;
}

.menu-burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 2.5rem;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.name {
    font-size: 1.8rem;
    text-decoration: 0;
    color: black;
}

small {
    font-size: 0.5rem;
    display: block;
    text-align: right;
    margin: 0;
}

.mobile-nav {
    position: fixed;
    background-color: var(--background-color);
    width: 80vw;
    height: 100vh;
    margin: 0;
    top: 5rem;
    left: 0;
    transition: 400ms ease-out;
    z-index: 15;
}

.backdrop {
    display: none;
    opacity: 0;
    position: fixed;
    top: 5rem;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    transition: 400ms linear;
    z-index: -10;
}

.toggle-backdrop {
    opacity: 1;
    z-index: 10;
}

.toggle-mobile-nav {
    transform: translateX(-80vw);
}

#arrows {
    margin: 0;
    display: block;
    text-align: center;
    transform: translateY(2rem);
    color: var(--font-color);
}

#arrows i {
    vertical-align: middle;
    font-size: 1.2rem;
}

#arrows span {
    padding: 0 1rem;
    vertical-align: middle;
    font-size: 1.2rem;
}

.mobile-nav__items {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    left: 0px;
}

.mobile-nav__item {
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}

.mobile-nav__item:first-of-type {
    border-top: 2px solid var(--border-color);
}

.main-container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-rows: calc(100vh - 5rem) calc(100vh - 5rem) calc(100vh - 5rem);
    font-family: var(--content-font);
    width: 100%
}

.content {
    scroll-margin-top: 5rem;
}

.content:not(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.about-me__image {
    position: relative;
    overflow: hidden;
    height: 45vh;
    width: 100%;
}


.about-me__image img {
    height: inherit;
    object-fit: cover;
    object-position: 50% 30%;
    width: 100%;
}

.content-text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;
    margin: 1rem 0;
}

.content-headline {
    text-align: left;
}

.content-text {
    text-align: right;
    font-size: 1.5rem;
}

.content-headline__even {
    text-align: right;
    width: 100%;
    padding-right: 0;
}

.content-text__even {
    text-align: left;
}

.gallery__images {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gallery__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.gallery__image img:hover {
    transform: scale(1.1);
}

.gallery__image {
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 150, 150, 0.8);
    animation: zoom 0.3s ease-in-out
}

.modal img {
    width: 95%;
    top: 5rem;
    object-fit: cover;
    border: 5px solid var(--border-color);
}

.closeBtn {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    position: absolute;
    top: 5rem;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out
}

.send-email__form {
    height: 45vh;
    margin-top: 5rem;
    margin-top: 1rem;
}

.send-email__form label {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.send-email__form input,
.send-email__form button {
    display: inline-block;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    padding: 1rem;
    color: var(--font-color);
}

#send-email__button {
    width: 100%;
    padding: 1rem;
}

#mail-text {
    height: 35%;
}

.contacts {
    width: 100%;
    text-align: center;
}

.contacts a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 4rem;

}

#contact {
    text-align: center;
}

#map {
    margin: 0;
    padding: 0;
}

@media(min-width: 40rem) {
    .content {
        width: 50%;
    }

    .modal img {
        width: 50%;

    }
}

@keyframes zoom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}